/* Breadcrumb*/ 

.breadcrumb{
    height: 45px;
    padding: 5px 10px;
    align-items: center;
    width: 1fr;
}
  
.icon{
    height: 20px;
}
.breadcrumb a{
    color: black;
}
  
/* PRODUCT INFO */
.product_info_wrapper{
    max-width: 1100px;
    margin: 0 auto;
}
.product-content{
    padding: 2rem 1rem;
}

.rating_star{
    max-width: 25px;
    max-height: 25px;
}
  
.ratting{
    display: flex; 
    align-items: center;
}
.img{
    max-width: 100%;

}
/* BUTTON */
.add_item{
    width: 35%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
    margin-top: 20px;
}
.add_item{
    background-color: #1b211b;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s, border-style 0.5s ;
}
.add_item:hover {
    background-color: #ffffff;
    color: black;
    font-weight: bold;
    height: 40px;
    border-style: solid;

}
.num_item_add{
    background-color: black;
    border-radius: 50px 0px 0px 50px;
    width: 45px;
    margin-bottom: 0;
    transition: background-color 0.5s, color 0.5s ;
    border-right-style: solid;
    border-color: black;


}
.num_item_remove{
    background-color: black;
    border-radius: 0px 50px 50px 0px;
    width: 45px;
    margin-bottom: 0;
    transition: background-color 0.5s, color 0.5s ;
    border-left-style: solid;
    border-color: black;

}

.add_button{
    display: flex;
    border-style: solid;
    width: 35%;
    height: 35px;
    border-radius: 50px;
    border-color: black;
    justify-content: space-between;

}

.num_item_add:hover{
    background-color: white;
    color: black;
}

.num_item_remove:hover{
    background-color: white;
    color: black;
}
@media screen and (min-width: 768px){
.product_info_wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}
.product_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.product-content{
    padding-top: 0;
}




}


  