/* Breadcrumb */
.breadcrumb {
    height: 45px;
    padding: 5px 10px;
    align-items: center;
    width: 1fr;
}

.icon {
    height: 20px;
}

.breadcrumb nav a {
    color: black;
}

/* PRODUCT INFO */

main {
    margin-top: 0;
    padding: 0 20px;
}

.product_info_wrapper {
    max-width: 1200px;
    margin: 0 auto;
    align-items:start;

}

.product_content {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    padding-top: 0;

}

.img {
    max-width: 100%;
    margin-bottom: 1rem;
}

/* Styles Small Images */
.small_images {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.small_images img {
    width: 24%; 
    max-width: 100%;
    height: auto;
}

/* Style for ratting stars */
.rating_star {
    max-width: 25px;
    max-height: 25px;
}

.rating {
    display: flex;
    align-items: center;
}


/* BUTTON */
.add_item {
    width: 35%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
    margin-top: 20px;
    background-color: #1b211b;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s, border-style 0.5s;
}

.add_item:hover {
    background-color: #ffffff;
    color: black;
    font-weight: bold;
    height: 40px;
    border-style: solid;

}
.num_item_add{
    background-color: black;
    border-radius: 50px 0px 0px 50px;
    width: 45px;
    margin-bottom: 0;
    transition: background-color 0.5s, color 0.5s ;
    border-right-style: solid;
    border-color: black;


}
.num_item_remove{
    background-color: black;
    border-radius: 0px 50px 50px 0px;
    width: 45px;
    margin-bottom: 0;
    transition: background-color 0.5s, color 0.5s ;
    border-left-style: solid;
    border-color: black;

}

.add_button{
    display: flex;
    border-style: solid;
    width: 35%;
    height: 35px;
    border-radius: 50px;
    border-color: black;
    justify-content: space-between;

}

.num_item_add:hover,
.num_item_remove:hover {
    background-color: white;
    color: black;
}

.toggle-parameters-btn {
    width: 250px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
    margin-top: 20px;
    background-color: #1b211b;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s, border-style 0.5s;
}

.toggle-parameters-btn:hover {
    background-color: #ffffff;
    color: black;
    font-weight: bold;
    height: 40px;
    border-style: solid;

}

/* Description */

.block1{
    width: 100%;
    background-color: #979797;
    padding: 30px 20px;
}

.block1 h1,
.block1 h2 {
    color: white;
}

.block1 h4 {
    padding-left: 20px;
}

.block1 .parameters{
    padding-left: 30px;

}


@media screen and (min-width: 768px){
.product_info_wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}
.product_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.product-content{
    padding-top: 0;
}
}


  